{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
    <br>
    <div class="formuwu">
      <div class="form" method="post">
        <form method="post">
            <div class="mb-3">
              <label for="" class="form-label">Name</label>
              <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="John Doe" required>
              <small id="helpId" class="form-text text-muted">Enter your name.</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="Your Username." required>
              <small id="helpId" class="form-text text-muted">We'll never share your username with anyone else.</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="abc@mail.com" required>
              <small id="emailHelpId" class="form-text text-muted">Enter your email. Your data is secure!</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
    </div>
    </div>
    
{% endblock content %}